{% extends "templates/layout/main.html" %}
{% block content %}
<div class="col-lg-12"></div>
  <div class="row placeholders">
    <div class="col-lg-6">
      <div class="box">
        <header>
          <div class="icons" style="font-size: 11px !important">
          <i class="fa fa-edit icon-table"></i></div>
          <h5>ตั่งค่าฟาร์มเลี้ยงที่ {{ product_id }} {{content.nameFarm}}</h5>
        </header>
        <div class="body">
            <form class="form-horizontal" action="/configfarm/{{ product_id }}" method="post">
                <input type="text" name="product_id" value="{{product_id}}"  class="form-control" style="display: none">
                <input type="text" name="id" value="{{content.id}}"  class="form-control" style="display: none">
                <input type="text" name="oldMac" value="{{content.macPi}}"  class="form-control" style="display: none">
                <input type="text" name="idArduino" value="{{content.idArduino}}"  class="form-control" style="display: none">
                <input type="text" name="oldFloor" value="{{content.floor}}"  class="form-control" style="display: none">
                <div class="form-group">
                    <label class="control-label col-lg-6 text-right" >ไอดีฟาร์ม</label>
                    <div class="col-lg-6">
                            <label class="control-label">{{content.id}}</label>
                    </div>
                </div>
                <!-- {{listArduino}} -->
                {% for data in listArduino %}
                  <div class="form-group">
                    <label class="control-label col-lg-6 text-right" >ไอดี Arduino ที่ {{loop.index}}</label>
                    <div class="col-lg-6">
                            <label class="control-label">{{data}}</label>
                    </div>
                  </div>
                {% endfor %}
                <div class="form-group">
                        <label class="control-label col-lg-6">ชื่อฟาร์มเลี้ยง</label>

                        <div class="col-lg-6">
                           <input type="text" name="nameFarm" value="{{content.nameFarm}}"  class="form-control tw-fonts">
                        </div>
                    </div>
                <div class="form-group">
                    
                    <label class="control-label col-lg-6" >จำนวนช่องเลี้ยงต่อชั้น</label>
                    <div class="col-lg-6">
                        <input type="number" name="numberCrayfish" data-mask="99" value="{{content.numberCrayfish}}"  class="form-control tw-fonts">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-6" >จำนวนชั้น</label>
                    <div class="col-lg-6">
                        <select type="number" name="floor" class="form-control top inputFrom tw-fonts">
                            <option value=1 {% if content.floor == 1 %} selected {% endif %}> 1</option>
                            <option value=2 {% if content.floor == 2 %} selected {% endif %}> 2</option>
                            <option value=3 {% if content.floor == 3 %} selected {% endif %}> 3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-6" >ความกว้างช่องเลี้ยง (เซนติเมตร)</label>
                    <div class="col-lg-6">
                        <input type="number" name="wide" data-mask="99"  value="{{content.wide}}"   class="form-control tw-fonts">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-6" >จำนวนการให้อาหารต่อวัน (ครั้ง)</label>
                    <div class="col-lg-6">
                        <select type="number" name="timeEatDay" class="form-control top inputFrom tw-fonts">
                            <option value=1 {% if content.timeEatDay == 1 %} selected {% endif %}> 1</option>
                            <option value=2 {% if content.timeEatDay == 2 %} selected {% endif %}> 2</option>
                            <option value=3 {% if content.timeEatDay == 3 %} selected {% endif %}> 3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-6" >อุณหภูมิน้ำ (องศา)</label>
                    <div class="col-lg-6">
                        <div class="input-group slider-with-input">
                          <input id="slider-right" name="temp" type="number" data-slider-min="20" data-slider-max="29"  data-slider-step="1" data-slider-value="{{content.temp}}"/>
                        </div>
                        <!-- <input type="number" name="temp" data-mask="29" value="{{content.temp}}"  class="form-control tw-fonts"> -->
                    </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-lg-6">เปลี่ยนน้ำทุก (วัน)</label>
                        <div class="col-lg-6">
                            <input type="number" name="timeWater" data-mask="99" value="{{content.timeWater}}" class="form-control top inputFrom" required>
                        </div>
                    </div>
                <div class="form-group">
                    <label class="control-label col-lg-6">Mac Raspberry Pi</label>

                    <div class="col-lg-6">
                        <input type="text" name="macPi" value="{{content.macPi}}"  class="form-control tw-fonts">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 text-right modal-first" >
                        <button id="submit" class="btn btn-lg btn-success"  type="submit">ตั้งค่าฟาร์ม</button>
                    </div>
                    <div class="col-lg-6 modal-first">
                        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">ลบฟาร์มเลี้ยง</button>
                    </div>
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">ต้องการลบฟาร์มเลี้ยง</h2>
                          </div>
                          <div class="modal-body" style="background-color: #ef5146">
                            <p class="tw-fonts">แน่ใจที่จะลบฟาร์มเลี้ยงหรือไม่ ?</p>
                          </div>
                          <div class="modal-footer">
                            <button id="submit"  class="btn btn-lg btn-success confirm"  type="submit" formmethod="post" formaction="/deletefarm/{{content.id}}">ใช่</button>
                            <button type="button" class="btn btn-lg btn-warning" data-dismiss="modal">ยกเลิก</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                
            </form>
        </div>
        </div>
        </div>
    </div>
  </div>
  <script type="text/javascript">
      $('#slider-right').slider()
      $('#slider-right').sliderTextInput()
  </script>
  
{% endblock %}
