{% extends "templates/layout/main.html" %}
{%block content%}
  <!-- <div ></div> -->
  <div class="col-lg-12">
              <div class="col-lg-3"><h1 class="page-header">ผลการค้นหา </h1></div>
  </div>
  <div class="row placeholders">
    <div class="col-lg-12">
      {% for data in notification %}
        <div class="col-lg-6" >
          <div class="box">
            <header class="main-hover" onclick="location.href='/farm/{{loop.index}}'">
              <div class="icons" style="font-size: 11px !important">
              <i class="fa fa-edit icon-table"></i></div>
              {% if type == 'page'%}
                <h5>ฟาร์มเลี้ยงชื่อ {{content[loop.index-1].nameFarm}}</h5>
              {% else %}
                <h5>ฟาร์มเลี้ยงชื่อ {{content[loop.index-1].nameFarm}}</h5>
              {% endif %}
            </header>
            <div class="body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-lg-6 text-right" >สถานะระบบการให้อาหาร</label>
                  <div class="col-lg-6">
                   {% if data.statusFeedersystem %}
                      <div class="switch switch-on">
                        ON
                      </div>
                    {% else %}
                      <div class="switch switch-off">
                        OFF
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-6 text-right" >สถานะระบบทำความเย็น</label>
                  <div class="col-lg-6">
                   {% if data.statusCoolersystem %}
                      <div class="switch switch-on">
                        ON
                      </div>
                    {% else %}
                      <div class="switch switch-off">
                        OFF
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-6 text-right" >สถานะระบบเปลี่ยนน้ำ</label>
                  <div class="col-lg-6">
                   {% if data.statusChangewatersystem %}
                      <div class="switch switch-on">
                        ON
                      </div>
                    {% else %}
                      <div class="switch switch-off">
                        OFF
                    </div>
                    {% endif %}
                  </div>
                </div>
              </form>
              
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- {% if notification!=[]%}
      <ul class="pagination tw-fonts" style="float:right;">
      {% for value in listPage%}
        <li {% if value == page %} class="active" {% endif %} ><a href="/page/{{value}}">{{value}}</a></li>
      {%endfor%}
    {% endif %} -->
    
  </div>

{%endblock%}
